@font-face {
  font-family: 'SF-Pro-Text';
  src: url('../fonts/SF-Pro-Text.ttf');
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url('../fonts/SF-Pro-Display.ttf');
}


body {
  font-family: SF-Pro-Display;
}